<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post">
                <div class="mb-1">
                    <label class="form-label" for="title">Add Description</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        placeholder="Title Here">
                </div>
                <div class="mb-1">
                    <label class="form-label" for="location">Add Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        placeholder="Add Location Here">
                </div>
                <div class="mb-1">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="campground[image]" id="image"
                        placeholder="Add image URL Here">
                </div>
                <div class="mb-1">
                    <label class="form-label" for="description">Image URL</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        placeholder="Write a brief description"></textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Submit</button>
                </div>
                <hr>
                <a href="/campgrounds">Return To Main Site</a>
            </form>
        </div>
    </div>